@model IntranetPortal.Areas.UserAdministration.Models.UserDetailViewModel
@{
    ViewData["Title"] = "User Administration | Delete User Account";
    //Layout = "~/Areas/GlobalSettings/Views/Shared/_USALayout.cshtml";
}
<div class="card ml-5 mt-5 w-75">
    <div class="card-header bg-danger">
        <h4 class="text-white">Delete User Account</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form enctype="multipart/form-data" asp-area="UserAdministration" asp-controller="Staff" asp-action="DeleteUserAccount" method="post">
            <div class="row">
                <div class="mb-2">
                    <input type="hidden" asp-for="UserID" />
                    <label asp-for="FullName" class="form-label text-white fw-bold"></label>
                    <input asp-for="FullName" class="form-control fw-bolder" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="mb-2">
                    <label asp-for="Username" class="form-label text-white fw-bold"></label>
                    <input asp-for="Username" class="form-control fw-bolder" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="mb-2">
                    <label asp-for="UserType" class="form-label text-white fw-bold"></label>
                    <input asp-for="UserType" class="form-control fw-bold" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="mb-2">
                    <label asp-for="Company" class="form-label text-white fw-bold"></label>
                    <input asp-for="Company" class="form-control fw-bold" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="mb-3">
                    @if (Model.IsLocked)
                    {
                        <i class="bi bi-lock-fill" style="color:white; font-size:1.2em"></i>
                        <label class="form-label text-white fw-bolder" readonly="readonly">  Account Is Currently Locked</label>
                    }
                    else
                    {
                        <i class="bi bi-unlock-fill" style="color:white; font-size:1.2em"></i>
                        <label class="form-label text-white fw-bolder" readonly="readonly">  Account Is Currently Active</label>
                    }
                </div>
                    </div>
            <div class="row">
                <a asp-area="UserAdministration" asp-controller="Home" asp-action="Index" class="btn btn-dark" style="width:100px" title="Return to Home Page">
                    <span class="text-white">Exit</span>
                </a>&nbsp;
                <a asp-area="UserAdministration" asp-controller="Staff" asp-action="UserList" class="btn btn-dark" style="width:100px" title="Return to Previous">
                    <span class="text-white">Go Back</span>
                </a>&nbsp;
                @if (!Model.OperationIsCompleted)
                {
                    <button type="submit" class="btn btn-danger" title="Delete" style="width:200px"><span class="text-white">Delete Permanently</span></button>
                }
            </div>
        </form>
    </div>
</div>

