@{
    ViewData["Title"] = "Global Settings";
}
<link href="~/lib/matrix/dist/css/style.min.css" rel="stylesheet" />
<div class="my-2">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <h4 class="fw-bold">Global Settings</h4>
    <hr />
    <div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="" asp-controller="Home" asp-action="Apps">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light" style="font-size:3em"><i class="bi bi-arrow-left-square"></i></h1>
                        <h6>Go Back</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="GlobalSettings" asp-controller="Locations" asp-action="Stations">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light" style="font-size:3em"><i class="bi bi-building"></i></h1>
                        <h6> Stations</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="GlobalSettings" asp-controller="Locations" asp-action="Bureaus">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light" style="font-size:3em"><i class="far fa-building"></i></h1>
                        <h6> Bureaux</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="GlobalSettings" asp-controller="Departments" asp-action="List">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light" style="font-size:3em"><i class="far fa-building"></i></h1>
                        <h6>Departments</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="GlobalSettings" asp-controller="Units" asp-action="List">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light" style="font-size:3em"><i class="bi bi-building"></i></h1>
                        <h6>Units</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="GlobalSettings" asp-controller="Teams" asp-action="List">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light" style="font-size:3em"><i class="fa fa-users" aria-hidden="true"></i></h1>
                        <h6>Teams</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="GlobalSettings" asp-controller="Programs" asp-action="List">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light" style="font-size:3em"><i class="bi bi-cast"></i></h1>
                        <h6>Programmes</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
@section Scripts{

}