
@model IntranetPortal.Areas.AssetManager.Models.AssetViewModel
@{
    ViewData["Title"] = "OfficeManager | Show Image";
}
    <div class="row">
        <a asp-area="AssetManager" asp-controller="Settings" asp-action="Assets" class="btn btn-dark ml-1" style="width:100px" title="Return to Assets">
            <span class="text-white">Go Back</span>
        </a>
        <hr />
    </div>
<div class="d-flex align-items-center justify-content-center" style="height:100vh">
    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
        <img src="/@Model.ImagePath" class="card-img-top" alt="Asset Image" style="max-width:800px" />
    }
    else
    {
        <img src="/img/no_image_placeholder.png" class="card-img-top" alt="Asset Image" style="max-width:400px" />
    }
</div>




