
@{
    ViewData["Title"] = "OfficeManager | Employees Management";
}

<link href="~/lib/matrix/dist/css/style.min.css" rel="stylesheet" />
<div class="my-2">
    <!-- ============================================================== -->
    <!-- Cards  -->
    <!-- ============================================================== -->
    <h4 class="fw-bold">Employees Records Management</h4>
    <hr />
    <div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="" asp-controller="Home" asp-action="Apps">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-arrow-left-square"></i></h1>
                        <h6 class="text-dark">Go Back</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="ERM" asp-controller="Employees" asp-action="Search">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark" style="font-size:3em"><i class="bi bi-search"></i></h1>
                        <h6 class="text-dark">Search</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="ERM" asp-controller="Home" asp-action="ActiveList">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark" style="font-size:3em"><i class="bi bi-people"></i></h1>
                        <h6 class="text-dark">Register</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="ERM" asp-controller="Employees" asp-action="Create">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark" style="font-size:3em"><i class="bi bi-person-plus"></i></h1>
                        <h6 class="text-dark">Add New</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="ERM" asp-controller="Home" asp-action="BirthDayList">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark" style="font-size:3em"><i class="bi bi-calendar-date"></i></h1>
                        <h6 class="text-dark">BirthDays</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="ERM" asp-controller="Home" asp-action="Separation">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark" style="font-size:3em"><i class="bi bi-person-dash"></i></h1>
                        <h6 class="text-dark">Exits</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="ERM" asp-controller="Home" asp-action="Reports">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark" style="font-size:3em"><i class="bi bi-file-earmark-bar-graph"></i></h1>
                        <h6 class="text-dark">Reports</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="ERM" asp-controller="Settings" asp-action="Index">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark" style="font-size:3em"><i class="bi bi-sliders"></i></h1>
                        <h6 class="text-dark">Settings</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
    </div>
</div>
@section Scripts{

}


