
@model IntranetPortal.Areas.BAMS.Models.AddRecipientViewModel
@{
    ViewData["Title"] = "OfficeManager | Send Notification";
}
<div>
    <div class="card" style="max-width:600px">
        <div class="card-header bg-success">
            <h4 class="text-white">Send Notification</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <form asp-area="Bams" asp-controller="Notifications" asp-action="AddRecipient" method="post">
                <div class="row">
                    <input type="hidden" asp-for="AssignmentEventID" />
                    <input type="hidden" asp-for="MessageID" />
                    <input type="hidden" asp-for="MessageType" />
                    <input type="hidden" asp-for="RecipientID" />
                    <div class="col-md-12 mb-2">
                        <label asp-for="RecipientName" class="form-label text-white fw-bold"></label>
                        <input asp-for="RecipientName" class="form-control fw-bold">
                        <div><span asp-validation-for="RecipientName" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <a asp-area="Bams" asp-controller="Home" asp-action="AssignmentDetails" asp-route-id="@Model.AssignmentEventID" class="btn btn-dark ml-2" style="width:100px" title="Go Back">
                        <span class="text-white">Back</span>
                    </a>
                     <button type="submit" class="btn btn-success ml-2" title="Send Message" style="width:300px"><span class="text-white">Send</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/js_bams/bams_assignment_new.js"></script>
}









