
@{
    ViewData["Title"] = "Broadcast Assignment Manager";
}
<link href="~/lib/matrix/dist/css/style.min.css" rel="stylesheet" />
<div class="my-2">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <h4 class="fw-bold">Broadcast Assignment Management System</h4>
    <hr />
    <div class="row">
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="Bams" asp-controller="Home" asp-action="AssignmentLog">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-ui-checks"></i></h1>
                        <h6 class="text-dark">Assignments</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="Bams" asp-controller="Home" asp-action="NewAssignment">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-file-earmark-plus"></i></h1>
                        <h6 class="text-dark">New Assignment</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="Bams" asp-controller="Home" asp-action="Deployments">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-truck"></i></h1>
                        <h6 class="text-dark">Deployments</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="Bams" asp-controller="Deployment" asp-action="SelectTeamBatch">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-people"></i></h1>
                        <h6 class="text-dark">Crew</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="Bams" asp-controller="Deployment" asp-action="SelectEquipmentBatch">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-camera-video"></i></h1>
                        <h6 class="text-dark">Equipment</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="Bams" asp-controller="EquipmentGroups" asp-action="index">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-layout-wtf"></i></h1>
                        <h6 class="text-dark">Equipment Groups</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
    </div>
</div>
@section Scripts{

}

