@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h3 class="text-danger"><u>Notice of Error:</u></h3>
<h5 class="text-danger">Sorry, an error was encountered while attempting to process your request. Please ensure your login session has not expired, and try again.</h5>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

