@model IntranetPortal.Areas.AssetManager.Models.AssetBinLocationViewModel
@{
    ViewData["Title"] = "OfficeManager | New Asset Bin Location";
}
<div>
    <div class="card" style="max-width:800px">
        <div class="card-header bg-success">
            <h4 class="text-white">New Bin Location</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <form asp-area="AssetManager" asp-controller="Settings" asp-action="AddAssetBinLocation" method="post">
                <div class="row">
                    <div class="col-mb-12 mb-1">
                        <input type="hidden" asp-for="AssetBinLocationID" />
                        <label asp-for="AssetBinLocationName" class="form-label text-white fw-bold"></label>
                        <input asp-for="AssetBinLocationName" class="form-control fw-bold">
                        <div><span asp-validation-for="AssetBinLocationName" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-mb-12 mb-1">
                        <label asp-for="AssetBinLocationDescription" class="form-label text-white fw-bold"></label>
                        <input asp-for="AssetBinLocationDescription" class="form-control fw-bold">
                        <div><span asp-validation-for="AssetBinLocationDescription" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12  mb-3">
                        <label asp-for="AssetLocationID" class="form-label text-white fw-bold"></label>
                        <select asp-for="AssetLocationID" asp-items="@ViewBag.LocationList" class="form-control fw-bold">
                            <option value=""></option>
                        </select>
                        <div><span asp-validation-for="AssetLocationID" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <a asp-area="AssetManager" asp-controller="Home" asp-action="Index" class="btn btn-dark ml-2" style="width:100px" title="Return to Asset Manager Home">
                        <span class="text-white">Exit</span>
                    </a>
                    <a asp-area="AssetManager" asp-controller="Settings" asp-action="AssetBinLocations" class="btn btn-dark ml-1" style="width:100px" title="Go Back">
                        <span class="text-white">Go Back</span>
                    </a>
                    @if (!Model.OperationIsCompleted)
                    {
                        <a asp-area="AssetManager" asp-controller="Settings" asp-action="AddAssetBinLocation" class="btn btn-warning ml-1" style="width:100px" title="Clear">
                            <span class="text-white">Clear</span>
                        </a>

                        <button type="submit" class="btn btn-success ml-2" title="Save" style="width:200px"><span class="text-white">Save</span></button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>


