@model IntranetPortal.Areas.AssetManager.Models.AssetDivisionViewModel
@{
    ViewData["Title"] = "OfficeManager | Edit Control Unit";
}
<div>
    <div class="card" style="width:600px">
        <div class="card-header bg-warning">
            <h4 class="text-dark">Edit Control Unit</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        <form asp-area="AssetManager" asp-controller="Settings" asp-action="EditDivision" method="post">
            <div class="row">
                <div class="col-mb-12 mb-1">
                    <input type="hidden" asp-for="ID" />
                    <label asp-for="Name" class="form-label text-white fw-bold"></label>
                    <input asp-for="Name" class="form-control fw-bold" placeholder="Enter Name">
                    <div><span asp-validation-for="Name" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-mb-12 mb-3">
                    <label asp-for="Description" class="form-label text-white fw-bold"></label>
                    <input asp-for="Description" class="form-control fw-bold" placeholder="Enter Description">
                    <div><span asp-validation-for="Description" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <a asp-area="AssetManager" asp-controller="Home" asp-action="Index" class="btn btn-dark" style="width:100px" title="Return to Asset Manager Home">
                    <span class="text-white">Exit</span>
                </a>&nbsp;
                <a asp-area="AssetManager" asp-controller="Settings" asp-action="Divisions" class="btn btn-dark" style="width:100px" title="Return to Control Units">
                    <span class="text-white">Go Back</span>
                </a>&nbsp;
                @if (!Model.OperationIsCompleted)
                {
                    <a asp-area="AssetManager" asp-controller="Settings" asp-action="EditDivision" class="btn btn-warning" style="width:100px" title="Clear">
                        <span class="text-white">Clear</span>
                    </a>
                    <button type="submit" class="btn btn-info" title="Save" style="width:200px"><span class="text-white">Save Changes</span></button>
                }
            </div>
        </form>
        </div>
    </div>
</div>




