@{
    ViewData["Title"] = "Leave Management System | Settings";
}
<link href="~/lib/matrix/dist/css/style.min.css" rel="stylesheet" />
<div class="my-2">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <h4 class="fw-bold">Leave Management Settings</h4>
    <hr />
    <div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="LMS" asp-controller="Home" asp-action="Index">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-arrow-left-square"></i></h1>
                        <h6 class="text-dark">Go Back</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="LMS" asp-controller="Settings" asp-action="LeaveTypes">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-columns-gap"></i></h1>
                        <h6 class="text-dark">Leave Types</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="LMS" asp-controller="Settings" asp-action="LeaveProfiles">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-layout-wtf"></i></h1>
                        <h6 class="text-dark">Leave Profiles</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="LMS" asp-Controller="Settings" asp-action="Holidays">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-calendar-x"></i></h1>
                        <h6 class="text-dark">Holidays</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        @*<div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="PMS" asp-controller="Process" asp-action="AppraisalsSubmittedtoMe">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-mailbox"></i></h1>
                        <h6 class="text-dark">Appraisals Submitted to Me</h6>
                    </div>
                </div>
            </a>
        </div>*@
        <!-- Column -->
        @*<div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="PMS" asp-controller="Process" asp-action="DirectReportEvaluations">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-diagram-3"></i></h1>
                        <h6 class="text-dark">Direct Reports Appraisal</h6>
                    </div>
                </div>
            </a>
        </div>*@
        <!-- Column -->
        @*<div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="PMS" asp-controller="Home" asp-action="AppraisalEnquiry">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-search"></i></h1>
                        <h6 class="text-dark">Enquiry</h6>
                    </div>
                </div>
            </a>
        </div>*@
        <!-- Column -->
        @*<div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="PMS" asp-controller="Home" asp-action="Reports">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-journal-bookmark"></i></h1>
                        <h6 class="text-dark">Reports</h6>
                    </div>
                </div>
            </a>
        </div>*@
        <!-- Column -->
        @*<div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="PMS" asp-Controller="Home" asp-action="CheckEntries">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-list-check"></i></h1>
                        <h6 class="text-dark">Check/Verify Entries</h6>
                    </div>
                </div>
            </a>
        </div>*@
        <!-- Column -->
        @*<div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="PMS" asp-Controller="Home" asp-action="EmployeeSearch">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-arrow-left-right"></i></h1>
                        <h6 class="text-dark">Change Principal Appraiser</h6>
                    </div>
                </div>
            </a>
        </div>*@

    </div>
</div>
@section Scripts{

}
