
@{
    ViewData["Title"] = "Apps";
    Layout = "~/Views/Shared/_BlueLayout.cshtml";
}
<link href="~/lib/matrix/dist/css/style.min.css" rel="stylesheet" />
<div class="my-2">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="ContentManager" asp-controller="Home" asp-action="Index">
                <div class="card card-hover">
                    <div class="box bg-cyan text-center">
                        <h1 class="font-light text-white" style="font-size:5em"><i class="bi bi-window-sidebar"></i></h1>
                        <h6 class="text-white">Content Manager</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="EmployeeRecords" asp-controller="Home" asp-action="Index">
                <div class="card card-hover">
                    <div class="box bg-success text-center">
                        <h1 class="font-light text-white" style="font-size:5em"><i class="far fa-address-card"></i></h1>
                        <h6 class="text-white">Employee Records</h6>
                    </div>
                </div>
             </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-warning text-center">
                    <h1 class="font-light text-white" style="font-size:5em"><i class="bi bi-graph-up"></i></h1>
                    <h6 class="text-white">Performance Manager</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-danger text-center">
                    <h1 class="font-light text-white" style="font-size:5em"><i class="fas fa-chalkboard-teacher"></i></h1>
                    <h6 class="text-white">Channels Learning</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white" style="font-size:5em"><i class="far fa-calendar-alt"></i></h1>
                    <h6 class="text-white">Assignment Scheduler</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-success text-center">
                    <h1 class="font-light text-white" style="font-size:5em"><i class="fas fa-file-invoice-dollar"></i></h1>
                    <h6 class="text-white">Requisitions Processing</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-danger text-center">
                    <h1 class="font-light text-white" style="font-size:5em"><i class="fas fa-tasks"></i></h1>
                    <h6 class="text-white">Task Management</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-relative-scale"></i></h1>
                    <h6 class="text-white">Buttons</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-pencil"></i></h1>
                    <h6 class="text-white">Elements</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-success text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-calendar-check"></i></h1>
                    <h6 class="text-white">Calendar</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-warning text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-alert"></i></h1>
                    <h6 class="text-white">Errors</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="GlobalSettings" asp-controller="Home" asp-action="Index">
                <div class="card card-hover">
                    <div class="box bg-danger text-center">
                        <h1 class="font-light text-white" style="font-size:5em"><i class="bi bi-sliders"></i></h1>
                        <h6 class="text-white">Global Settings</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
    </div>
</div>
@section Scripts{

}