@model IntranetPortal.Areas.EmployeeRecords.Models.EmployeeNextOfKinInfoViewModel
@{
    ViewData["Title"] = "Employee Records | Next Of Kin Info";
    Layout = "~/Areas/GlobalSettings/Views/Shared/_GBSLayout.cshtml";
}
<div class="card ml-5 mt-5 w-75">
    <div class="card-header bg-dark">
        <h4 class="text-white">Next Of Kin Information</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    <form asp-area="EmployeeRecords" asp-controller="Home" asp-action="AddEmployeeNextOfKinInfo" method="post">
        <div class="row">
            <div class="col-md-6 mb-2">
                <input type="hidden" asp-for="EmployeeID" />
                <label asp-for="EmployeeNo1" class="form-label text-white fw-bold"></label>
                <input asp-for="EmployeeNo1" class="form-control" readonly="readonly">
                <div><span asp-validation-for="EmployeeNo1" class="text-danger"></span></div>
            </div>
            <div class="col-md-6 mb-2">
                <label asp-for="EmployeeName" class="form-label text-white fw-bold"></label>
                <input asp-for="EmployeeName" class="form-control" readonly="readonly">
                <div><span asp-validation-for="EmployeeName" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                <label asp-for="NextOfKinName" class="form-label text-white fw-bold"></label>
                <input asp-for="NextOfKinName" class="form-control" placeholder="Enter Next of Kin Name">
                <div><span asp-validation-for="NextOfKinName" class="text-danger"></span></div>
            </div>
            <div class="col-md-6  mb-2">
                <label asp-for="NextOfKinRelationship" class="form-label text-white fw-bold"></label>
                <input asp-for="NextOfKinRelationship" class="form-control" placeholder="Enter Next of Kin Relationship">
                <div><span asp-validation-for="NextOfKinRelationship" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-2">
                <label asp-for="NextOfKinAddress" class="form-label text-white fw-bold"></label>
                <textarea asp-for="NextOfKinAddress" class="form-control" placeholder="Enter Next of Kin Address"></textarea>
                <div><span asp-validation-for="NextOfKinAddress" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                <label asp-for="NextOfKinPhone" class="form-label text-white fw-bold"></label>
                <input asp-for="NextOfKinPhone" class="form-control" placeholder="Enter Next of Kin Phone Number">
                <div><span asp-validation-for="NextOfKinPhone" class="text-danger"></span></div>
            </div>
            <div class="col-md-6  mb-2">
                <label asp-for="NextOfKinEmail" class="form-label text-white fw-bold"></label>
                <input asp-for="NextOfKinEmail" class="form-control" placeholder="Enter Next of Kin Email">
                <div><span asp-validation-for="NextOfKinEmail" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-1">
                <a asp-area="EmployeeRecords" asp-controller="Home" asp-action="Index" class="btn btn-dark" style="width:100px" title="Return to Employee Home">
                    <span class="text-white">Exit</span>
                </a>&nbsp;
                <a asp-area="EmployeeRecords" asp-controller="Home" asp-action="List" class="btn btn-dark" style="width:100px" title="Return to Staff List">
                    <span class="text-white">Go Back</span>
                </a>&nbsp;
                <a asp-area="EmployeeRecords" asp-controller="Home" asp-action="AddEmployeeBasicInfo" class="btn btn-warning" style="width:100px" title="Clear">
                    <span class="text-white">Clear</span>
                </a>&nbsp;
                @if (!Model.OperationIsCompleted)
                {
                    <button type="submit" class="btn btn-primary" title="Save and Continue" style="width:200px"><span class="text-white">Save & Continue</span></button>
                }
                &nbsp;&nbsp;&nbsp;
                <a asp-area="EmployeeRecords" asp-controller="Home" asp-action="AddEmployeeHistoryInfo" asp-route-id="@Model.EmployeeID" class="btn btn-warning" style="width:100px" title="Clear">
                    <span class="text-white">Clear</span>
                </a>&nbsp;
            </div>
        </div>
    </form>
    </div>
</div>




