@{
    ViewData["Title"] = "OfficeManager | Workspace Settings";
}
<link href="~/lib/matrix/dist/css/style.min.css" rel="stylesheet" />
<div class="my-2">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <h4 class="fw-bold">Settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="WKS" asp-controller="Home" asp-action="Index">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-arrow-left-square"></i></h1>
                        <h6 class="text-dark">Go Back</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="WKS" asp-controller="Settings" asp-action="WorkspaceList">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-front"></i></h1>
                        <h6 class="text-dark">Workspace Settings</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="WKS" asp-controller="Settings" asp-action="Folders">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-folder-check"></i></h1>
                        <h6 class="text-dark">Folder Settings</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
@section Scripts{

}
