@using IntranetPortal.Areas.WKS.Models
@model IntranetPortal.Areas.WKS.Models.WorkspaceListViewModel
@{
    ViewData["Title"] = "OfficeManager | Workspace Settings";
}
<div class="container">
    <h4>Workspace Settings</h4>
    <hr />
    <div class="mb-2">
        <form asp-area="WKS" asp-controller="Settings" asp-action="Workspaces" method="get">
            <a asp-area="WKS" asp-controller="Settings" asp-action="Index" class="btn btn-dark" style="width:100px" title="Click to Go Back">
                <span class="text-white">Back</span>
            </a>
            @*<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addWorkspace">
            <span class="text-white">New Workspace</span>
        </button>*@

            @*<a asp-area="WKS" asp-controller="Settings" asp-action="AddOrEditWorkspace" asp-route-id="" class="btn btn-success text-white" style="width:200px" title="Add New Asset">
            <i class="bi bi-plus-lg"></i>  <span>New Workspace</span>
        </a>*@
            <input asp-for="sp" placeholder="Enter Text to Search ...." class="border-0" style="width:300px" />
            <input type="submit" value="Search" class="btn btn-dark pr-3" style="width:100px" />
            <a onclick="showInPopup('@Url.Action("AddOrEditWorkspace","Settings",null, Context.Request.Scheme)','New Workspace')" class="btn btn-success text-white" style="width:150px" title="Add New Workspace">
                <i class="bi bi-plus-lg"></i>  <span> Create New</span>
            </a>
        </form>

        @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@ViewBag.ErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
    @if (Model.WorkspaceList == null || Model.WorkspaceList.Count < 1)
    {
        <div class="alert alert-info fade show" role="alert">
            <i class="bi bi-info-circle"></i>
            <span class="fw-bold">No record was found.</span>
        </div>
    }
    else
    {
        <div class="row">
            <div class="table-responsive">
                <div id="view-all">
                    @await  Html.PartialAsync("_WorkspaceViewAll", Model)
                </div>
            </div>
        </div>
    }
</div>
@section Scripts{

}