@model IntranetPortal.Areas.UserAdministration.Models.EditUserAccountViewModel
@{
    ViewData["Title"] = "User Administration | Edit User Account";
}
<div class="card ml-5 mt-5 w-75">
    <div class="card-header bg-dark">
        <h4 class="text-white">Edit User Account</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    <form enctype="multipart/form-data" asp-area="UserAdministration" asp-controller="Home" asp-action="EditUserAccount" method="post">
        <div class="row">
            <div class="mb-2">
                <input type="hidden" asp-for="UserID" />
                <input type="hidden" asp-for="OldLoginID" />
                <label asp-for="FullName" class="form-label text-white fw-bold"></label>
                <input asp-for="FullName" class="form-control fw-bolder text-primary" readonly="readonly">
            </div>
        </div>
        <div class="row">
            <div class="mb-2">
                <label asp-for="UserType" class="form-label text-white fw-bold"></label>
                <input asp-for="UserType" class="form-control fw-bold">
                <div><span asp-validation-for="UserType" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="mb-2">
                <label asp-for="LoginID" class="form-label text-white fw-bold"></label>
                <input asp-for="LoginID" class="form-control fw-bold">
                <div><span asp-validation-for="LoginID" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label asp-for="EnableLockOut" class="form-label text-white fw-bold"></label>
                <select asp-for="EnableLockOut" class="form-control fw-bold">
                    <option value="false">Unlock User Account</option>
                    <option value="true">Lock User Account</option>
                </select>
                <div><span asp-validation-for="EnableLockOut" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="mb-2">
                <label asp-for="LockOutEndDate" class="form-label text-white fw-bold"></label>
                <input asp-for="LockOutEndDate" class="form-control fw-bold">
                <div><span asp-validation-for="LockOutEndDate" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <a asp-area="UserAdministration" asp-controller="Home" asp-action="Index" class="btn btn-dark" style="width:100px" title="Return to Home Page">
                <span class="text-white">Exit</span>
            </a>&nbsp;
            <a asp-area="UserAdministration" asp-controller="Home" asp-action="EditUserAccount" asp-route-id="@Model.UserID" class="btn btn-warning" style="width:100px" title="Clear">
                <span class="text-white">Clear</span>
            </a>&nbsp;
            @if (!Model.OperationIsCompleted)
            {
                <button type="submit" class="btn btn-primary" title="Save" style="width:200px"><span class="text-white">Save</span></button>
            }
        </div>
    </form>
    </div>
</div>

