
@{
    ViewData["Title"] = "OfficeManager | User Administration";
}

<link href="~/lib/matrix/dist/css/style.min.css" rel="stylesheet" />
<div class="my-2">
    <!-- ============================================================== -->
    <!-- Cards  -->
    <!-- ============================================================== -->
    <h4 class="fw-bold">Users Management</h4>
    <hr />
    <div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="" asp-controller="Home" asp-action="Apps">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark"><i class="bi bi-arrow-left-square"></i></h1>
                        <h6 class="text-dark">Go Back</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="UserAdministration" asp-controller="Staff" asp-action="UserList">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark" style="font-size:3em"><i class="far fa-address-card"></i></h1>
                        <h6 class="text-dark">Staff Users</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="UserAdministration" asp-controller="Customers" asp-action="List">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark" style="font-size:3em"><i class="far fa-id-card"></i></h1>
                        <h6 class="text-dark">Customer Users</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="UserAdministration" asp-controller="Vendors" asp-action="List">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark" style="font-size:3em"><i class="far fa-id-card"></i></h1>
                        <h6 class="text-dark">Vendor Users</h6>
                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a asp-area="UserAdministration" asp-controller="Home" asp-action="LoginHistory">
                <div class="card card-hover">
                    <div class="box bg-light text-center">
                        <h1 class="font-light text-dark" style="font-size:3em"><i class="fas fa-user-clock"></i></h1>
                        <h6 class="text-dark">Activity History</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
@section Scripts{

}


